.allCard {
    display: flex;
    flex-direction: row;
    gap: 16px;
    /* spacing between cards */
    overflow-x: auto;
    /* horizontal scroll */
    white-space: nowrap;
    /* prevent wrapping */
    padding: 16px;
    scroll-behavior: smooth;
    /* optional smooth scroll */
    background-color: #f3f3f3;
}

.section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

.card {
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 8px;
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 40px);
    /* 3 columns */
    max-width: 300px;
    text-align: center;
}

.des {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    white-space: normal;
}

.card img {
    width: 100%;
    height: 300px;
    /* or any fixed height you want */
    object-fit: cover;
    /* makes image fill without distortion */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #474e5d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

.button:hover {
    background-color: #24a3c0;
}

.card:hover {
    transform: translateY(-10px);
    transition: transform 0.5s ease;
}

/* Responsive */
@media screen and (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 40px);
        /* 2 columns */
    }
}

@media screen and (max-width: 600px) {
    .card {
        flex: 1 1 100%;
        /* 1 column */
    }
}